@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box  ;
}


body{
  font-family: "Kumbh Sans", sans-serif;
}

.img_background{
  background-image: url("https://d3ugyf2ht6aenh.cloudfront.net/stores/001/736/624/products/art10438-21977-9926f12fdd7267696316238737241024-640-0.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}